# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/xampp
/webalizer
/dashboard
/img
/.vscode

applications.html
bitnami.css
favicon.ico
bitnami.css


